.contactSection {
  position: relative;
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(90deg, transparent, rgba(var(--primary-rgb), 0.3), transparent);
  }
  
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(90deg, transparent, rgba(var(--primary-rgb), 0.3), transparent);
  }
}

.sendButton{
   position: relative;
  overflow: hidden;
  z-index: 0;
  color: white;
  padding: 0.5rem 1.25rem;
  border-radius: 0.5rem;
  font-weight: 500;
  background: linear-gradient(to right, #ac5af0, #2c45e8); // purple-blue
  border: none;
  backdrop-filter: blur(4px);
  transition: transform 0.3s ease;

  a {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }

  &::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle at 20% 20%, rgba(255,255,255,0.08), transparent 40%),
                radial-gradient(circle at 80% 80%, rgba(255,255,255,0.08), transparent 40%);
    animation: floatBubbles 10s linear infinite;
    z-index: 1;
    pointer-events: none;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(124, 58, 237, 0.5), 0 8px 20px rgba(59, 84, 246, 0.563);
  }
}